<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/960.min.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/data.css" />
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container_12">
			<section class="grid_12">
				<h1>Sat&eacute;lite</h1>
			</section>
			<section class="grid_12">
				<div class="grid_4 alpha">
					<h2>Wikipedia</h2>
				</div>
				<div class="grid_4">
					<h2>Crew</h2>
					<ul>
						<li>Tom</li>
						<li>Martin</li>
						<li>Ezu</li>	
					</ul>
				</div>
				<div class="grid_4 omega">
					<h2>Photos</h2>
					<div class="grid_4 alpha omega clearfix">
						<img src="http://www.internet-via-satellite.info/usr/www_internet-via-satellite_info/images/satellite_80x80.gif" class="grid_2 alpha" alt="" />
						<img src="http://www.internet-via-satellite.info/usr/www_internet-via-satellite_info/images/satellite_80x80.gif" class="grid_2 omega" alt="" />
					</div>
					<div class="grid_4 alpha omega clearfix">
						<img src="http://www.internet-via-satellite.info/usr/www_internet-via-satellite_info/images/satellite_80x80.gif" class="grid_2 alpha" alt="" />
						<img src="http://www.internet-via-satellite.info/usr/www_internet-via-satellite_info/images/satellite_80x80.gif" class="grid_2 omega" alt="" />
					</div>
				</div>
			</section>
			<section class="grid_12">
				<h1>Tech Data</h1>
				<div id="data">
				</div>
			</section>
		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript">
			/*var satlist = "25544|20580|26626|32260|28375";
			var r = Math.random() * Date.parse(new Date());
			var url = "http://www.n2yo.com/sat/jtest.php?s="+satlist+"&r="+r+"&callback=?";
			console.log(url);
			$.getJSON(url,
			        function(data){
					
					$("#paneldata").css('visibility', 'hidden');
					$("#panelalert").html('Wait...');
					sArray=data;
					drawOrbits();
					clearInterval (drawID);
					drawID = setInterval ("drawOrbits()", REFRESH_DRAW*1000);	
					populateInstantTrk();
					clearInterval (durID); 
					durID = setInterval ("populateInstantTrk()", DURATION*1000);

					//GLog.write("Orbits retrieved!");
			        });*/
		</script>
	</body>
</html>