h1{
	text-align:center;
}
.container, .satellite-checkin-list{
	margin-top:20px;
	width:450px;
}
.satellite-checkin-list td{
	cursor:pointer;
}

#map{
	height:200px;
}
a.btn.container{
	display:block;
	width:auto;
}

#checkin .hero-unit {
	overflow:hidden;
	padding:60px 50px;
	text-align:center;
}