<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>NASA</title>
	<link rel="stylesheet" href="css/bootstrap.css" media="screen" />
	<link rel="stylesheet" href="css/nasa.css" media="screen" />
</head>
<body>

<div id="homepage" class="container separated">
	<h1>Satellites nearby</h1>
	
	
	
	<nav>
		<ul class="nav nav-pills">
			<li><a href="about-us.html">Team</a></li>
		</ul>
	</nav>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>
<script src="js/main.js"></script>

</body>
</html>